#sug_createPanel form {
    width: 100%;
    max-width: 32rem; /* Or whatever width you prefer */
    margin: auto;
    background-color:rgb(189, 231, 217);
  }
 
 
   
     #sug_createPanel button {
    width: 20%;
    padding: 10px 0;
    margin: 10px auto;
    border-radius: 5px; 
    border: none;
    background: #38c8a8; 
    font-size: 14px;
    font-weight: 600;
    color: rgb(10, 11, 12);
   
    }
    #sug_createPanel button:hover {
    background: #315e5b5d;
    } 
   
    #sug_createPanel label {
        padding: 0 20px;
        
        vertical-align: middle;
        }

      #sug_createPanel  input {
            padding: 8px;
            width: 250px;
            vertical-align: middle;
            border-radius: 0.25em;
            }
          
          #sug_createPanel  select, .children, .gender, .bdate-block {
            width: calc(50% + 26px);
            padding: 5px 0;
            border-radius: 0.25em;
            }
    
      
          #sug_createPanel  .contain {
                height: 50px;
                width: 500px;
                
              }